<h1 class="text-2xl mb-4">Exercise Assignments</h1>

<ul class="space-y-2">
  <% @exercise_assignments.each do |exercise_assignment| %>
    <li class="border p-4">
      <p class="text-lg">
        <%= exercise_assignment.exercise.title %>
      </p>
      <p class="text-sm text-gray-600">
        Assigned to: <%= exercise_assignment.member.full_name %>
      </p>
    </li>
  <% end %>
</ul>
